
  
  
  <h1 style="color:darkslategray;"> <u> Who Are You....? </u></h1>
  <h2 style="color: #626262;">A New Horizon of Consulting for Businesses</h2>
  <h1 style="color:#676767;">FMI focuses on three radical goals – building framework, creating awareness, improving value for our clients</h1>
  <img src="assets\img/who-we-are 1.jpg" class="banner">


    <h1 style="color:darkslategray;"><u>  Our Values </u> </h1>
    <h1 style="color:#676767;">Breaking the Stereotype of Pre-Informed Opinions, Delivering Quality Research with a Neutral Mindset</h1>
    <table>
       <tr> 
      <td >
        <mat-card>
          <br><br><br><br>
        <h3 style="color:black;"> Intigrity </h3> 
          
        <p style="color:darkgrey;">
         Breaches of confidentiality are a far-cry from FMI’s,ethical<br>
         research practices.We respect the privacy and rights of clients,<br>
         consistently building credibility and trust.
        </p>
      </mat-card>
      </td>
      <mat-card><br><br>
       <td>
      
         <h3 style="color:black;"> Professionalism</h3> 
         <p style="color:darkgrey;">
              FMI deeply understands the crux of professionalism in the <br>
              consulting landscape. We promote the interests of research <br>
              industry, and comply with laws & regulations to foster <br>
              confidence and loyalty in our clients.
            </p><br><br><br><br><br><br>
          </td>
        </mat-card>
        <br><br>
        <mat-card>
      <td>
             
             <h3 style="color:black;">  Ability</h3>  
             <p style="color:darkgrey;">
               We rid the monotony fixed solutions that ebb the agility of<br>
               business performance. Our approach trails time-efficient<br>
               research, to offer authentic insights and accurate results. <br>
               Clients can exploit our innovative offerings to perform faster<br> 
               and better.
          </p>
          <br><br>
        </td> 
      </mat-card>
          <td>
            <mat-card>
            <h3 style="color:black;"> Excellence</h3>
            <p style="color:darkgrey;">
                     FMI's consulting excellence stays guarded by<br> 
                     three pillars commitment, innovation, and <br>
                     improvement.We go the extra mile for assured <br>
                     client satisfaction and measurable results.
          </p> 
         <br><br><br><br><br><br>
       </mat-card>
 </td>

</tr>

</table>
       <br>
        <br>
      
                    <h1 style="color:darkslategray;"> <u> Our People </u></h1>
                    <h1 style="color:#626262;">FMI is a group of passionate researchers, with a strong commitment to precision, pragmatic, and result-oriented solution</h1>
                      <table>
                        <tr>
                          <mat-card>
                          <td>
                         <h3 style="color:bblackrown;"> <blockquote> <B>  Talent Promotion </B> </blockquote> </h3>
                      <dd style="color:darkgrey;">   <blockquote> Consistently promoting the culture of performance - FMI<br>
                             encourages ceaseless talent development to improve productivity. <br>
                             Our multifarious employee development programs enable efficient execution of strategy. </blockquote> </dd>
                       </td>
                        </mat-card>
                      <td>
                            <mat-card>
                            <h3 style="color:black;"><blockquote> <B> Engaged Workforce </B> </blockquote> </h3>
                    <dd     style="color:darkgrey;">  <blockquote>  Employee engagement plays an integral role in boosting productivity. <br>
                    We constantly work on creating a working culture,<br>
                     where employees are well aware of their contribution.
                     and keep breaking their own records. </blockquote> </dd>
                    </mat-card>
                          </td>
                           <td>
                          <mat-card>
                               <h3 style="color:black;"><blockquote> <B > Inclusive Environment </B> </blockquote></h3> 
                            <dd  style="color:darkgrey;">  <blockquote>     We make it a point to hear and value all of our employees,<br>
                              let alone recruiting remarkable candidates with proficiency <br>
                              and experience. This has helped us find best-in-class research professionals. </blockquote> </dd>
                         </mat-card>
                          <td>
                        </tr>
                      </table>
                           
                    <br>
                   
                    <br>
                    <br>
                    
                    <br>
                    <br>

