h1{
     text-align: center;
    text-align: center;
    font-size: x-large;
    font-style: normal;
    
    
    
    
    
    
}
    .banner {
       width:100%;
       display:block;
       margin: 0 auto;
    
    }
    P{
        font-size: smaller;
        text-align: center;
        font-size: larger;
    }
   
           h2{
               font-style: normal;
               text-align: center;
                      } 
    
div{
    margin-right: auto;
    text-align: center;
    font-size: larger;

   
}
h4{
    text-align: center;
    font-style: normal;
    
    
}
td{
    text-align: center;
}

h3{
    font-size:x-large;
}
dd{
    font-size: larger;
}