<mat-toolbar color="primary" class="mat-elevation-z8 navbar">
  <div class="logo"><span class="logo-icon"><mat-icon>language </mat-icon>Logo</span></div>
      <div>
          <a mat-button routerLink="home">Home</a>
          <a mat-button routerLink="about">About</a>
          <a mat-button routerLink="insights">Insights</a>
          <a mat-button routerLink="industries">Industries</a>
          <a mat-button routerLink="Media">Media</a>
          <a mat-button routerLink="blog">Blog</a>
          <a mat-button routerLink="press-releases">Press Releases</a>
          <a mat-button routerLink="regions">Regions</a>
          <a mat-button routerLink="contact">Contact</a>
          <a mat-button routerLink="signin">SignIn</a>
          <a mat-raised-button color="warn" routerLink="signup" class="rounded-button">Create Account</a>
        </div>
  </mat-toolbar>

