<p>search works!</p>
<div id="search-container">
    <div class="search-fields">
        <mat-form-field>
            <input matInput #searchInput placeholder="Search..." (keyup.enter)="search()">
        </mat-form-field>
        <button mat-icon-button (click)="search()" class="submitButton">
            <mat-icon>Search</mat-icon>
        </button>
    </div>
<button mat-icon-button (click)="toggleButton()" class="toggleButton">
<mat-icon>clear</mat-icon>
</button>
</div>